@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");



body {
  font-family: "roboto", sans-serif;
  background-color: #f0c312d0;
}

.row {
  margin: 0;
}

/* Zeramos o padding nas laterais */
.container {
  padding: 70px 0;
}

p,
li {
  color: #444;
  font-size: 14px;
}

/* Barra de navegação*/

header,
navbar {

}

#logo {
  width: 110px;
}

.img-wapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

mainSlider .carousel-inner,
mainSlider .carousel-item {
  /* Cobre apenas 90% da tela com o slider*/
  height: 90vh;
  width: 10%;
  height: 10%;
  
}

.projetos {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.card {
  width: 30rem;
  height: 30rem;
  position: relative;
}

.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 0.5rem;
}

.card-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
  opacity: 0.5;
}

.sessao-titulo{
  text-align: center;
}

.home-menu {
  font-family: var(--font-action);
  font-size: 2rem;
  color: #000000;
  transition: color 1s;
  font-weight: bold;
}

.img-quem-somos{
  width: 500px
  display: inline-block;
  align-items: center;
}

.navbar{
  margin-top: 10px;
}